<div class="container bg-danger" style="border-top: 2px solid grey;">
  <div class="col col-md-8 mx-auto" style="background-color: gainsboro;">
    <h1 class="py-3 px-2">Register Here!</h1>
    <form class="row g-3 p-3" [formGroup]="RegisterForm" (ngSubmit)="Register()">
      <div class="col-md-6">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" placeholder="Enter first name" formControlName="firstname">
      </div>
      <div class="col-md-6">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" placeholder="Enter last name" formControlName="lastname">
      </div>
      <div class="col-12">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" placeholder="youremail@xyz.com" formControlName="email">
      </div>
      <div class="col-md-6">
        <label for="number" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" placeholder="Enter Your Mobile Number" formControlName="number">
      </div>
      <div class="col-md-6">
        <label for="dob" class="form-label">Date of Birth</label>
        <input type="text" class="form-control" placeholder="Enter your date of birth" formControlName="dob">
      </div>
      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">
      </div>

      <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="submit" class="btn btn-success">Register</button>
          <button class="btn btn-primary" routerLink="/login">Login-Here</button>
        </div>
      </div>
    </form>
  </div>
</div>
